// Custom styles.
.posts-expand .post-meta {
	margin: 10px 0 10px 0;
}

.post-button {
  margin-top: 10px;
}

.posts-expand .post-eof {
	margin-top: 25px
	margin-bottom: 25px
	width: 100%;
}

.posts-expand {
  padding-top: 0;
}

.site-meta {
  background: #0080FF;
  padding: 0 5px;
}

body {
  background: url(/images/background.jpg);
  background-attachment: fixed;
}

.site-author-image {
  max-width: 100px;
}

.posts-expand .post-body {
  img {
    margin: 0;
  }
}

.footer {
  color: white;
}

.posts-collapse {
  margin-left: 0;
}

.posts-collapse .collection-title {
  margin: 5px 0;
}

.posts-collapse .post {
  margin: 0 0;
}

.posts-collapse .post-title {
  margin-top: 0;
  margin-bottom: 0;
}

table {
  table-layout: auto;
}

table td:nth-child(1) {
  /*首列不换行*/
  white-space: nowrap;
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
}

.site-subtitle {
  margin: 0;
}

@media (max-width: 767px) {
	.posts-expand {
	    margin: 0;
	}
}