// Custom styles.
.posts-expand .post-meta {
	margin: 10px 0 10px 0;
}

.post-button {
  margin-top: 10px;
}

.posts-expand .post-eof {
	margin-top: 25px
	margin-bottom: 25px
	width: 100%;
}

.posts-expand {
  padding-top: 0px;
}

.site-meta {
  background: #0080FF;
  padding: 0 5px;
}

body {
  background: url(/images/background.jpg);
  background-attachment: fixed;
}

.site-author-image {
  max-width: 100px;
}

.posts-expand .post-body {
  img {
    margin: 0px;
  }
}